@import "./custom_colors";

.notes {
    height: calc(100% - 70px);
    margin-left: 0px;
    margin-right: 0px;
}

.bm-menu {
    background: white;
    padding-top: 10px;
}

.notes-editor {
    padding: 0px;
    padding-top: 15px;
    height: 80vh;
    .quill {
         height:100%;
    }
}